* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  /* overflow-x: hidden; */
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.face-mesh-container {
  position: relative;
}

.face-mesh-app {
  display: flex;
  justify-content: center;
}

.mode-selection {
  display: flex;
  flex-direction: column;
}

.mode-selection > button {
  background: black;
  color: white;
  padding: 2px 10px;
  border: 0;
  border-radius: 2px;
  margin: 10px;
  cursor: pointer;
}

.color-picker {
  height: 100%;
}

.eye-shadow-color-picker,
.lipstick-color-picker {
  padding: 10px 5px;
}

.color-item {
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  margin: 10px 0;
}

.color-item.black {
  background-color: #4b3a26;
}

.color-item.violet {
  background-color: #8281bb;
}

.color-item.blue {
  background-color: #294a6c;
}

.lipstick-color-picker {
  margin-top: 30px;
}

.color-item.lip-red {
  background-color: #dc3513;
}

.color-item.lip-blue {
  background-color: #1c3a41;
}
