* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  /* overflow-x: hidden; */
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}

.face-mesh-container {
  position: relative;
}

.face-mesh-app {
  display: flex;
  justify-content: center;
}
